<%= form_for(@questionnaire_response) do |f| %>
  <% if @questionnaire_response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionnaire_response.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
      <% @questionnaire_response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @anonymous_questions.any? %>
    <% @anonymous_questions.each do |question| %>
      <%= f.fields_for "anonymous_question[#{question.id}]" do |ff| %>
          <div class="field">
            <%= ff.label question.question %>
            <%= ff.text_field :response %>
          </div>
      <% end %>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% else %>
    <h4>No Survey is currently active. Please contact your site administrator or check back later.</h4>
  <% end %>
<% end %>
