<%= form_for(@questionnaire_response) do |f| %>
  <% if @questionnaire_response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionnaire_response.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
      <% @questionnaire_response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @anonymous_questions.each do |question| %>
    <%= f.fields_for "anonymous_question[#{question.id}]" do |ff| %>
        <div class="field">
          <%= ff.label question.question %>
          <%= ff.text_field :response %>
        </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
