<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @anonymous_question.question %>
</p>

<p>
  <strong>Active:</strong>
  <%= @anonymous_question.active %>
</p>

<h4>Responses</h4>
<ul>
  <% @anonymous_question.anonymous_responses.each do |response| %>
    <li><%= response.value %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_anonymous_question_path(@anonymous_question) %> |
<%= link_to 'Back', anonymous_questions_path %>
