<%= form_for(@screenshot) do |f| %>
  <% if @screenshot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@screenshot.errors.count, "error") %> prohibited this screenshot from being saved:</h2>

      <ul>
      <% @screenshot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file, "Screenshot" %><br>
    <%= f.file_field :file, accept: 'image/jpeg,image/gif,image/png', required: true %>
  </div>

  <div class="field">
    <%= f.label :caption %><br>
    <%= f.text_field :caption %>
  </div>

  <%= f.hidden_field :report_id, value: params['report_id'] %>
  <%= f.hidden_field :vulnerability_id, value: params['vulnerability_id'] %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
