<p id="notice"><%= notice %></p>

<p>
  <strong>File:</strong>
  <%= @screenshot.file %>
</p>

<p>
  <strong>Report:</strong>
  <%= @screenshot.report_id %>
</p>

<p>
  <strong>Vulnerability:</strong>
  <%= @screenshot.vulnerability_id %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @screenshot.caption %>
</p>

<%= link_to 'Edit', edit_screenshot_path(@screenshot) %> |
<%= link_to 'Back', screenshots_path %>
