<p id="notice"><%= notice %></p>

<h1>Listing Reports</h1>

<% @reports.each do |report| %>
  <span><%= report.options['report_name'] %></span><br>
  <span><%= report.updated_at.to_formatted_s(:long)  %></span><br>
  <span><%= link_to 'Edit', edit_report_path(report) %></span> |
  <span><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></span> |
  <span><%= link_to 'Download as PDF', get_pdf_path(report) %></span>
  <hr>
<% end %>

<br>
<br>

<%= link_to 'New Report', new_report_path %>
